<p><img src="pics/<%= firstName %>_<%= lastName %>.jpg" width="160" height="160"/></p>
<h3><%= firstName %> <%= lastName %></h3>
<h4><%= title %></h4>
<br>
        <table class="table table-striped">
            <%
            if (managerId)
            {
            %>
            <tr>
                <td>Team:</td>
                <td><i class="icon-user"></i> <a href='#employees/<%= managerId %>'><%= managerName %></a></td>
            </tr>
            <%
            }
            %>
            <tr>
                <td>SOEID:</td>
                <td><i class="icon-home"></i> <%= soeId %></td>
            </tr>
            <tr>
                <td>Cell Phone:</td>
                <td><i class="icon-headphones"></i> <%= cellPhone %></td>
            </tr>
            <tr>
                <td>Team DL:</td>
                <td><i class="icon-envelope"></i> <a href="mailto:<%= email %>"><%= email %></a></td>
            </tr>
			<tr>
                <td>Roles/Remarks:</td>
                <td><i class="icon-retweet"></i> <%= role %></td>
            </tr>
        </table>

        
